<header>

<div class="to-left">
<a href="/"><div class="item logo"></div>
</a>
</div>

{% if currentUser %}

<div class="to-middle">
<div class="button newproject">
    <a href="/new">New Project</a>
</div>
</div>

<div class="to-right headertest">
<div class="item welcome">
Welcome, {{ currentUser.displayName }}!
</div>
<div class="item button login">
    <a href="/profile/{{ currentUser.id  }}">Profile</a>
</div>
<div id="logout" class="item button logout">
    <a href="/logout">Log Out</a>
</div>
</div>


{% else %}

<div class="to-right">
<div class="item">
<div class="button">
    <a href="/register">Register</a>
</div>
</div>
<div class="item">
<form method="post" action="/login">
    {{ csrfField }}
    <input type="text" placeholder="E-mail" name="email" size="7" value="{{ old('email') }}" required style="height: 20px;">
    <input type="password" placeholder="Password" name="password" size="7" required style="height: 20px;">
    <input type="submit" value="Log In" class="button login" >
</form>
</div>
</div>

{% endif %}

{% if old('headererrors') %}
          <div class="error-container" id="headererrors">
              <input type="checkbox">
            <div class="panel-body">
              <ul>
                {% for error in old('headererrors') %}
                <li>{{ error.message }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}    

</header>