{% extends "layout" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/stylesheet-normal.css">

 <!-- calculate accordion heights and put em here -->
<style>
.accordion article {
	margin-top:-1px;
	overflow:hidden;
	transition: 
        height 0.3s ease-in-out, 
        box-shadow 0.6s linear;
}

</style>

<div id="modal" class="modal fade confirm-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-body">
            Deactivate project?
        </div>
        <div class="modal-footer">
            <button id="deactivateConfirm" type="button" class="btn btn-success modal-ok" data-dismiss="modal">OK</button>
            <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Cancel</button>
        </div>
        </div>
    </div>
</div>

<div class="to-right trusted-users">
{% if trustedusers!="" %}
    <h2>Trusted users</h2>
    <ul class="list">
        {% for user in trustedusers %}
            <li class="list-item">
            <a href="/profile/{{ user.userID }}">
            <div class="name">
                {{ user.user.displayName }}
                {% if currentUser.id==project.ownerID %}
                <a href="/show/{{ project.id }}/trusted/{{ user.userID }}/remove">
                <div class="delete-icon"></div>
                </a>
                {% endif %}
             </div>
            </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <h2>No trusted users</h2>
{% endif %}
{% if currentUser.id==project.ownerID %}
    <br>
    <h3> New trusted user </h3>
    <form method="post" action="/show/{{ project.id }}/trusted/add">
      {{ csrfField }}
    <label for="userID">User ID</label>
    <input type="text" name="userID" placeholder="User ID" size="5">
    <input type="submit" value="Add user">
    </form>
{% endif %}
</div>

<div class="to-left project-details">
<br>
{% if currentUser %}
<br>
<div class="button">
    <a href="/{{project.id}}/new">New Problem</a>
</div>
{% endif %}
<br>

<h2>Project description</h2>
<div class="description">
{% for line in project.description %}
{{ line }}
<br>
{% endfor %}
</div>
<br>
{% if currentUser.id==project.ownerID %}
    <div class="button">
    <a href="/show/{{ project.id }}/edit">
    Edit Project
    </a>
    </div>
    <br>
    {% if project.active==true %}
    <br>
    <div id="deactivateButton" class="button logout">
    <a id="deactivate" href="/show/{{project.id}}/deactivate">Deactivate Project</a>
    </div>
    {% else %}
    <br>
    <div class="button login">
    <a href="/show/{{project.id}}/activate">Activate Project</a>
    </div>
    {% endif %}
{% endif %}
</div>

<div class="content">
<h1>{{ project.title }}</h1>
    <br>
    
<div class="container">
<div class="accordion">


<div>
     {% if projectcomments=="" %}
        {% if currentUser %}
        <input id="ac-1" type="checkbox" class="tab-checkbox" />
        <label for="ac-1" class="tab empty">
        No comments yet, be the first!
        {% else %}
        <input id="ac-1" type="checkbox" class="tab-checkbox" disabled />
        <label for="ac-1" class="tab empty">
        No comments yet
        {% endif %}
		</label>
        {% else %}
        <input id="ac-1" type="checkbox" class="tab-checkbox" checked />
        <label for="ac-1" class="tab">
		Comments
		</label>
    {% endif %}
    <article class="submenu widthOf">
    <div class="container comment-list">
        {% if projectcomments!="" %}
        <ul id="commentlist" class="list">
        {% for comment in projectcomments %}
            <li class="list-item">
            <div {% if currentUser.id==comment.ownerID %} class="own-item" {% endif %}>
            <div class="description">
            {% for line in comment.content %}
             {{ line }}
             <br>
        {% endfor %} 
            </div>
            <div class="stats">
            <div class="score">
            {{ comment.score }}
            </div>
            {% if currentUser %}
            <div class="voter">
                <form id="negative-vote-form" action="/show/{{ project.id }}/vote/{{ comment.id }}" method="post">
                      {{ csrfField }}
                    <input type="checkbox" style="display:none;" name="positive">
                <button class="negative-vote {% if comment.voted==-1 %}voted{% endif %}"></button>
                </form>
                <form id="positive-vote-form" action="/show/{{ project.id }}/vote/{{ comment.id }}" method="post">
                      {{ csrfField }}
                    <input type="checkbox" checked style="display:none;" name="positive">
                <button class="positive-vote {% if comment.voted==1 %}voted{% endif %}"></button>
                </form>
            </div>
            {% endif %}
            <div class = "owner">
            <a href="/profile/{{ comment.ownerID }}">{{ comment.owner.displayName }}</a>
            </div>
            </div>
            </div>
            </li>
        {% endfor %}
        </ul>
        {% endif %}
        </adticle>
        <br>
    </div>
    {% if currentUser %}
    <div class="container">
        <form id="newcomment-form" method="post" action="/show/{{ project.id }}/comment">
            {{ csrfField }}
            <label for="content">Your Comment</label>
            <textarea name="content" placeholder="Your comment" form="newcomment-form" rows="5" required>{{ old('content') }}</textarea>
            <br>
            <input id="projectcommentbutton" type="submit" value="Comment">
        </form>
    </div>
    {% endif %}
    <br>
</div>

<div>
	{% if problems=="" %}
     	<input id="ac-2" type="checkbox" class="tab-checkbox" disabled />
        <label for="ac-2" class="tab empty">
        {% if currentUser %}
        No problems yet, got one to report?
        {% else %}
        No problems yet
        {% endif %}
		</label>
        {% else %}
        <input id="ac-2" type="checkbox" class="tab-checkbox"  />
        <label for="ac-2" class="tab">
		Problems
		</label>
    {% endif %}
    <article class="submenu widthOf">

<div class="container">
    <div class="container problem-list">

    <div class="accordion">

    <ul class="list">
    {% for problem in problems %}
<div>
    <input type="checkbox" class="tab-checkbox"  id="{{ problem.title }}">
    <label for="{{problem.title }}" class="tab name {% if problem.active==0 %}deactivated{% endif %} {% if problem.solved>0 %}accepted{% endif %}">
    {{ problem.title }}
    <a href="/{{ project.id }}/show/{{ problem.id }}">
    <div class="tab-link">
    </div>
    </a>
    </label>
    <article class="submenu widthOf">
        <li class="list-item {% if problem.solved>0 %}accepted{% endif %}">
        <div>
        <div class="description">
        {% for line in problem.description %}
             {{ line }}
             <br>
        {% endfor %}  
        </div>
        <div class="stats">
        <div class="score">
        {{ problem.score }}
        </div>
        <div class = "owner">
        <a href="/profile/{{ problem.ownerID }}">{{ problem.owner.displayName }}</a>
        </div>
        </div>
        </div>
        </li>
    </article>
</div>
    {% endfor %}
    </ul>
    <br>

    </div>

    </div>
</div>

</article>
</div>

</div>

</div>

<script src="/scripts/refreshproject.js"></script>
<script src="/scripts/accordion.js"></script>
<script src="/scripts/confirm.js"></script>


{% endblock %}
