{% extends "layout" %}

{% block content %}
registration form but still FUCKYOUNIGGABITCH, {{ name }}
<form id="registration-form"  method="post">
<input type="text" name="email">
<input type="submit">
</form>
{% endblock %}
